[user]
	email = yuya.kawabata@techouse.jp
	name = Yuya Kawabata
	signingkey = /Users/kawabatayuya/.ssh/id_rsa.pub
[gpg]
	format = ssh
[commit]
	gpgsign = true

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[delta]
    plus-style = "syntax #012800"
    minus-style = "syntax #340001"
    syntax-theme = Monokai Extended
    navigate = true

[interactive]
    diffFilter = delta --color-only
